*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.container .top{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  border-radius: 0 0 10px 10px;
  /* border: 1px solid ; */
  padding: 40px 20px;
  background-color: #234a3b;
}

.center{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 10px;
  background-color: #234a3b;
  /* border: 1px solid; */
}

.center .image{
  width: 50%;
  /* border: 1px solid red; */
}

.center .image img{
  width: 100%;
}

.center p{
  font-size: 20px;
  color: #fff;
}

.content{
  width: 90%;
  margin: 10px;
  padding: 10px;
  /* text-align: center; */
  background-color:#234a3b;
  border-radius: 5px;
  /* border: 1px solid black; */
}

.content h4{
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 25px;
}

.content ul li{
  margin: 10px 0;
  color: #fff;
}

.content ul li span{
  font-weight: bold;
  margin-right: 10px;
  margin-left: 0px;
}
